<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.co.toshibatec.uf2200sampleapplication" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:minSdkVersion="31"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT"
        android:minSdkVersion="31" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="31" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/and_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="false"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <activity
            android:name=".MainMenuActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConnectDeviceActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ReadTagActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/title_readtest"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/title_setting"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ReadBarcodeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/title_readbarcode"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".FrequencySelectActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/title_frequencyselect"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".TagDatabaseActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/title_frequencyselect"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".InventoryAppActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/title_frequencyselect"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".PartsFinderActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/title_frequencyselect"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>